@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #d32f2f;
  --color-primary-dark: #b71c1c;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-sans);
  background-color: #fcfcfc;
  color: #1f2937;
}